
@let brands = this.brands();
@let loading = this.loading();


@if (loading) {
  <p>Cargando marcas...</p>
}@else{
  @if (brands.length > 0) {
  <main>
    <section class="brand-container">
    @for (brand of brands; track brand.id) {
      <table class="brand-item">
        <thead>
            <tr>
                 <th>nombre</th>
                 <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                 <td>{{ brand.brandName }}</td>
                 <td>               
                    <button (click)="handleDetails(brand.id!)">Ver más &RightArrow;</button>
                </td>
            </tr>
        </tbody>
      
    
      </table>
    }
  </section>
  </main>
  
}@else {
  <p>No tenes marcas registradas</p>
}

}
