@let owners = this.owners();
@let loading = this.loading();

@if (loading) {
    <p>Cargando dueños...</p>
} @else {
    <main>
        <section class="owner-container">

            <div class="container-header">
                <h2>Administrar Dueños</h2>
            </div>

            @if (owners.length > 0) {
                <table class="owner-item">
                    <thead class="container-header">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Usuario</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (owner of owners; track owner.id) {
                            <tr>
                                <td>{{ owner.name }}</td>
                                <td>{{ owner.lastName }}</td>
                                <td>{{ owner.username }}</td>
                                <td>{{ owner.mail }}</td>
                                <td>{{ owner.cellNumber }}</td>
                                <td>
                                    <button (click)="handleDetails(owner.id!)">Ver más &RightArrow;</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            } @else {
              <p>No hay dueños registrados</p>
            }
        </section>
    </main>
}
