@let brand = this.brand();
@let establishments = this.establishments();

@if (brand) {
  <div class="brand">
    <h1>{{ brand.brandName }}</h1>

    <button (click)="toggleCreate()">Crear establecimiento</button>

    @if (creating()) {
      <app-establishment-form [brandId]="brand.id"></app-establishment-form>
    }

    <hr />

    <div class="btnActions">
      <button (click)="handleDelete()">Borrar</button>
      <button (click)="toggleEdit()">Editar</button>

      @if (isEditing()) {
        <app-brand-form 
          [brandData]="brand" 
          [brandId]="brand.id" 
          [isEditing]="true" 
          (brandEdited)="handleEdit($event)">
        </app-brand-form>
      }
    </div>

    <hr />

    

    <button (click)="toggleShow()">
      {{ showAll() ? 'Esconder establecimientos' : 'Mostrar establecimientos' }}
    </button>

    @if (showAll()) {
      <h2>Establecimientos</h2>
      <app-my-establishments 
        [idBrand]="brand.id" 
        [isInsideBrand]="true">
      </app-my-establishments>
    }
  </div>
}
