@let reviews = this.reviews();
<main class="review-list-wrap">
  @if (reviews && reviews.length > 0) {
    <section class="review-list-section">
      @for (review of reviews; track review.id) {
        <app-review-item
          [review]="review"
          [clientId]="currentUserId()"
          [isLoggedIn]="isLoggedIn()"
          (edit)="edit.emit($event)"
          (delete)="delete.emit($event)">
        </app-review-item>
      }
    </section>
  } @else {
    <div class="empty-reviews">
      <span class="empty-icon">💭</span>
      <span class="empty-text">Todavía no hay reseñas, sé el primero en compartir tu experiencia</span>
    </div>
  }
</main>