@let reviews = this.reviews();
<main>
  @if (reviews && reviews.length > 0) {
    <section>
      @for (review of reviews; track review.id) {
        <app-review-item
          [review]="review"
          [clientId]="currentUserId()"
          [isLoggedIn]="isLoggedIn()"
          (edit)="edit.emit($event)"
          (delete)="delete.emit($event)">
</app-review-item>
      }
    </section>
  } @else {
    <span>Todavía no hay reseñas, sé el primero en compartir tu experiencia</span>
  }
</main>
