main{
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
}

button{
  width: 20%;
  align-self: flex-end;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl; /* Allows stars to be ordered from right to left for easier selection */
  display: flex;
  justify-content: space-between;
  font-size: 30px; /* Adjust star size */
}

.rating input {
  display: none; /* Hide the default radio buttons */
}

.rating label {
  cursor: pointer;
  color: #ccc; /* Default star color */
  padding: 0 2px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #f5b301; /* Color for selected/hovered stars */
}