<header>
    <nav>
        <a routerLink="/explorar" routerLinkActive="active" class="nav-item">
            <img src="/cancha home blanco.png" >
        </a>

        <a routerLink="/perfil" routerLinkActive="active" class="nav-item">
            <img src="botin blanco.png" routerLink="/perfil" routerLinkActive="active">
        </a >

        <div></div>
        <div class="logo-container">
            <img src="/logo.png" class="logo">
        </div>
        

        <a routerLink="/contacto" routerLinkActive="active" class="nav-item">
            <img src="/dueño blanco.png">
        </a>

        <a routerLink="/FAQ" routerLinkActive="active" class="nav-item">
            <img src="/faq blanco.png">
        </a>
        
    </nav>
</header>