@let reviews = this.reviews();
@let loading = this.loading();

@if (loading) {
    <p>Cargando reseñas...</p>
} @else {
    <main>
        <section class="review-container">

            <div class="container-header">
                <h2>Administrar Reseñas</h2>
            </div>

            @if (reviews.length > 0) {
                <table class="review">
                    <thead class="container-header">
                        <tr>
                            <th>Cliente</th>
                            <th>Rating</th>
                            <th>Mensaje</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (review of reviews; track review.id) {
                            <tr>
                                <td>{{ review.clientName }}</td>
                                <td>{{ review.rating }}</td>
                                <td>{{ review.message }}</td>
                                <td>{{ review.createdAt }}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            } @else {
              <p>No hay reviews registradas</p>
            }
        </section>
    </main>
}
