@let reviews = this.reviews();
@let loading = this.loading();

@if (loading) {
    <p>Cargando reviews...</p>
} @else {
    @if (reviews.length > 0) {
    <main>
        <section class="review-container">

            <div class="container-header">
                <h2>Administrar reviews</h2>
            </div>

            <table class="review">
                <thead class="container-header">
                    <tr>
                        <th>Cliente</th>
                        <th>Rating</th>
                        <th>Mensaje</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @for (review of reviews; track review.id) {
                        <tr>
                            <td>{{ review.clientName }}</td>
                            <td>{{ review.rating }}</td>
                            <td>{{ review.message }}</td>
                            <td>{{ review.createdAt }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
    } @else {
        <p>No hay reviews registrados</p>
    } 

}




