@let reservations = this.reservations();
@let loading = this.loading();

@if (loading) {
    <p>Cargando reservas...</p>
} @else {
    <main>
        <section class="reservation-container">

            <div class="container-header">
                <h2>Administrar Reservas</h2>
            </div>

            @if (reservations.length > 0) {
                <table class="reservation">
                    <thead class="container-header">
                        <tr>
                            <th>Cancha</th>
                            <th>Fecha de reserva</th>
                            <th>Fecha de partido</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (reservation of reservations; track reservation.id) {
                            <tr>
                                <td>{{ reservation.canchaType }}</td>
                                <td>{{ reservation.reservationDate }}</td>
                                <td>{{ reservation.matchDate }}</td>
                                <td>{{ reservation.status }}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            } @else {
              <p>No hay reservas registradas</p>
            }
        </section>
    </main>
}
