@let reviews = this.reviews();
@let loading = this.loading();

@if (loading) {
  <p>Cargando reviews...</p>
}@else {
    @if(reviews){
    @if (this.reviews().length > 0) {
      <div class="reviews-list">
        @for (review of this.reviews(); track review.id) {
          <div class="review-card">
            <p>🏟️ Usuario: {{ review.clientName }}</p>
            <p>📅 Valoracion: {{ review.rating }}</p>
            <p>📅 Fecha de la review: {{ review.createdAt }}</p>
            <p>Mensaje: {{ review.message }}</p>
          </div>
        }
      </div>
    } @else {
      <p class="no-reservations">No hay reviews registradas aún.</p>
    }
}

}

