@let brands = this.brands();
@let loading = this.loading();

@if (loading) {
    <p>Cargando Marcas...</p>
} @else {
    <main>
        <section class="brand-container">

            <div class="container-header">
                <h2>Administrar Marcas</h2>
            </div>

            @if (brands.length > 0) {
                <table class="brand-item">
                    <thead class="container-header">
                        <tr>
                            <th>Nombre</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (brand of brands; track brand.id) {
                        <tr>
                            <td>{{ brand.brandName }}</td>
                            <td>
                                <button (click)="handleDetails(brand.id!)">Ver más &RightArrow;</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            } @else {
              <p>No hay marcas registradas</p>
            }
        </section>
    </main>

}


