main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.establishment-container{
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    height: 65vh;
    width: 60vw;
    background-color: #EEEDEB;
    border:  #5F7D36 2px solid;
    color: #221F20;
    gap: 10px;
}

.establishment-item{
    width: 15vw;
    height: 20vh;
    border: 3px solid  #B6B6B7;
    color: #221F20;
    border-radius: 13px;
    
}

.establishment-pictures{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #B6B6B7 3px solid;
}

.establishment-footer{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
}

.establishment-explore-data{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

button{
    background-color: #5F7D36;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: auto;
    margin-top: auto;
}